﻿
<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slider1" checked />
    <input id="s2" type="radio" name="slider1" />
    <input id="s3" type="radio" name="slider1" />
    <input id="s4" type="radio" name="slider1" />
    <input id="s5" type="radio" name="slider1" />
    <div class="sh__content">
        <div class="sh__item">
            <div>
                <img src="~/images/2.jpg" style="max-width:50%" alt="imgText" class="imgSlider" />
            </div>
            <div class="sh__meta">
                <h4>Curso Net Core- S1</h4>
                <span><a href="#">Slider Test 1 del curso de Udemy Net Core MVC</a></span>
            </div>
        </div>
        <div class="sh__item">
            <div>
                <img src="~/images/6.jpg" alt="imgText" class="imgSlider" style="max-width:40%" />
            </div>
            <div class="sh__meta">
                <h4>Curso Net Core- S2</h4>
                <span><a href="#">Slider Test 1 del curso de Udemy Net Core MVC</a></span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/images/5.jpg" alt="imgText" class="imgSlider" style="max-width:40%" />
            <div class="sh__meta">
                <h4>Curso Net Core- S3</h4>
                <span><a href="#">Slider Test 1 del curso de Udemy Net Core MVC</a></span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/images/1.jpg" alt="imgText" class="imgSlider" style="max-width:40%" />
            <div class="sh__meta">
                <h4>Curso Net Core- S4</h4>
                <span><a href="#">Slider Test 1 del curso de Udemy Net Core MVC</a></span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/images/3.jpg" alt="imgText" style="max-width:40%" class="imgSlider" />
            <div class="sh__meta">
                <h4>Curso Net Core- S5</h4>
                <span><a href="#">Slider Test 1 del curso de Udemy Net Core MVC</a></span>
                f
            </div>
        </div>
    </div>
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
    </div>
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
    </div>
</div>