﻿@model DataCurso
@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var image = "data:image/jpg;base64," + Convert.ToBase64String(Model.Imagen, 0, Model.Imagen.Length);
}

<div class="container">
    <h1>Detalles</h1>

    <div class="row">
        <div class="col-sm">
            <div class="card" style="width:21rem;">
                <img src="@image" class="img-fluid img-thumbnail" />
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>@Model.Curso</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @if (@Model.Estado)
                                    {
                                        <p class="text-success">Disponibles.</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">No disponibles.</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>@Model.Costo</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form id="fcontact" asp-action="obtener" method="post">
                                        <input type="submit" value="Obtener" class="btn btn-success btn-sm" />
                                        <input type="hidden" name="cursoId" value="@Model.CursoId" />
                                        <input type="hidden" name="vista" value="2" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.Raw(Model.ErrorMessage)
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <table id="tableCursos">
                        <tbody>
                            <tr>
                                <th>
                                    Descripción
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Model.Informacion</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Categoría
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @Model.Categoria
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
