﻿@model DataPaginador<TCursos>
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_slider">
    <br />
    <div class="container">
        <br />
        <div class="form-group">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" id="filter" class="form-control" placeholder="Buscar" name="filtrar" value="" />
                    </div>
                    <div class="col-md-1">
                        <div class="row">
                            <input type="submit" name="name" class="btn btn-success buscar" value="Buscar" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            @foreach (var item in Model.List)
            {
                var image = "data:image/jpg;base64," + Convert.ToBase64String(item.Imagen, 0, item.Imagen.Length);
                <div class="col-xs-6 col-md-2">
                    <div class="card h-100">
                        <div class="card-header">
                            <a asp-route-id="@item.CursoId" asp-action="Detalles">
                                <img class="img-fluid img-thumbnail tdImg" src="@image" />
                            </a>
                        </div>
                        <div class="card-body">
                            <table class="tableCursos">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>@Html.DisplayFor(modelItem => item.Curso)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @if (item.Estado)
                                            {
                                                <p class="text-success">Disponibles.</p>
                                            }
                                            else
                                            {
                                                <p class="text-danger">No disponibles.</p>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>@Html.DisplayFor(modelItem => item.Costo)</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a asp-route-id="@item.CursoId" asp-action="Detalles" class="btn btn-success btn-sm">Obtener</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <form asp-action="Obtener" method="post">
                                                <input type="submit" value="Obtener" class="btn btn-success Obtener">
                                                <input type="hidden" name="cursoId" value="@item.CursoId" />
                                                <input type="hidden" name="vista" value="1" />
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div align="center">
            Resultados  @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>
    </div>
