﻿@model DataPaginador<TCategoria>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form asp-area="Categorias" asp-controller="Categorias" asp-action="Categoria" method="get">
    <div class="row">
        <div class="col-xs-8 col-md-3">
            <input id="filtrar" name="Search" placeholder="Buscar Categorías" class="form-control" />
        </div>
        <div class="col-xl-6 col-md-3">
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Buscar</button>
            </div>
        </div>
    </div>
</form>
<br />
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <a data-toggle='modal' data-target='#modal1' class='btn btn-info text-white'>Crear categoria</a>
        </div>
        <form asp-area="Categorias" asp-controller="Categorias" asp-action="Categoria" method="get">
            <div class="row">
                <div class="col-md-5">
                    <input type="number" name="Registros" class="form-control" value="5" min="1" max="50" step="1" />
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-success" value="N Registros" />
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Input.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Estado)
            </th>
            <th>
                Opciones
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <form asp-area="Categorias" asp-controller="Categorias" asp-action="UpdateEstado" method="post">
                        <input type="hidden" name="id" value="@item.CategoriaID">
                        @if (item.Estado)
                        {
                            <input type="submit" class="btn-sm btn-success text-light" value="Activa" />
                        }
                        else
                        {
                            <input type="submit" class="btn-sm btn-danger text-light" value="No activa" />
                        }
                    </form>
                </td>
                <td>
                    @{
                        var data = JsonConvert.SerializeObject(item);
                        <a data-toggle='modal' onclick="categorias.EditCategoria(@data)" data-target='#modal1' class='btn btn-info text-white'>Editar</a>
                        <a data-toggle='modal' onclick="categorias.GetCategoria(@data)" data-target='#ModalEliminar' class='btn btn-danger text-white'>Eliminar</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    Resultado @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>
<partial name="ModalRegistrar">
    <br />
    <partial name="ModalEliminar">
        @section Scripts{
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
