﻿<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Eliminar Categoría
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Desea eliminar la categoría?</h5>
                <h5 id="titleCategoria"></h5>
            </div>
            <div class="modal-footer">
                <span id="mensajeEliminar" class="text-danger"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="categorias.EliminarCategoria()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>