﻿@model DataPaginador<TCategoria>
<div class="modal fade" data-backdrop="static" id="modal1" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar nueva categería</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-area="Categorias" asp-controller="Categorias" asp-action="GetCategorias" class="formCategoria">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Input.Categoria" class="col-md-2"></label>
                            <div class="col-md-10">
                                <input asp-for="Input.Categoria" id="catNombre" placeholder="Nombre" class="form-control" />
                                <span asp-validation-for="Input.Categoria" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Description" class="col-md-2">
                            </label>
                            <div class="col-md-10">
                                <input asp-for="Input.Description" id="catDescripcion" placeholder="Descripción" class="form-control" />
                                <span asp-validation-for="Input.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Estado" class="col-md-2">
                            </label>
                            <div class="col-md-10">
                                <input asp-for="Input.Estado" id="catEstado" />
                            </div>
                        </div>
                        <span id="mensaje" class="text-danger"></span>
                        <input type="text" required class="hidden" />
                        <input asp-for="Input.CategoriaID" id="catCategoryId" class="hidden" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="categorias.Restablecer()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" onclick="categorias.RegistrarCategoria()" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>