﻿@model DataPaginador<DataCurso>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Inscripciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Inscripciones</h1>
<br />
<div class="form-group">
    <form action="" method="post">
        <div class="row">
            <div class="col-md-4">
                <input type="text" placeholder="Buscar" name="search" id="filtrar" class="form-control" />
            </div>
            <div class="col-md-1">
                <div class="row">
                    <input type="submit" value="Buscar" class="btn btn-success buscar" />
                </div>
            </div>
            <div class="col-md-1">
                    <a asp-area="Inscripciones" asp-controller="Inscripciones" asp-action="Export" class="btn btn-info buscar text-white">Exportar</a>
            </div>
        </div>
    </form>
</div>
<div class="row">
    @foreach (var item in Model.List)
    {
        var image = "data:image/jpg;base64," + Convert.ToBase64String(item.Imagen, 0, item.Imagen.Length);
        <div class="col-xs-6 col-md-2">
            <div class="card">
                <div class="card-header">
                    <a asp-route-id="@item.CursoId" asp-action="Detalles">
                        <img class='img-fluid img-thumbnail circle' src="@image" />
                    </a>
                </div>
                <div class="card-body">
                    <table class="tableCursos">
                        <tr>
                            <td>
                                <p>@Html.DisplayFor(modelItem => item.Curso)</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (item.Estado)
                                {
                                    <p class="text-success">Disponible.</p>
                                }
                                else
                                {
                                    <p class="text-success">No disponible.</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>@Html.DisplayFor(modelItem => item.Costo)</h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    }
</div>
<br />
<div align="center">
    Resultados @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>