﻿@model DataPaginador<TCursos>
<div class="modal fade" data-backdrop="static" id="ModalRegistrar" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar Curso</h4>
                <button type="button" class="close" onclick="curso.Restablecer()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <center>
                            <div class="form-group">
                                <div class="col-md-5">
                                    <a class="thumbnail">
                                        <output id="cursoImage">
                                            <img src="~/images/Logo2.png" class="img-fluid img-thumbnail rounded-circle" />
                                        </output>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group btn btn-success text-light">
                                <label for="files">Cargar imagen</label>
                                <div class="col-md-10">
                                    <input asp-for="AvatarImage" accept="image/*" class="file-input" type="file" id="files">
                                </div>
                            </div>
                        </center>
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Curso" class="col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Curso" placeholder="Nombres" id="curNombre" class="form-control" />
                                    <span asp-validation-for="Input.Curso" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Informacion" class="col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Informacion" id="curDescription" placeholder="Descripción" class="form-control" />
                                    <span asp-validation-for="Input.Informacion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Horas" class="col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Horas" id="curHoras" placeholder="Horas" class="form-control" />
                                    <span asp-validation-for="Input.Horas" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Costo" class="col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Costo" id="curCosto" placeholder="Costo" class="form-control" />
                                    <span asp-validation-for="Input.Costo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Estado" class="col-md-2 "></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Estado" id="curEstado" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Categoria" class="col-md-2 "></label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => Model.Input.CategoriaID, new SelectList(Model.Categorias, "Value", "Text"), "Seleccionar una categoría",
                                        htmlAttributes: new { @class = "form-control", id = "curCategoria" })
                                    <span asp-validation-for="Input.CategoriaID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <span id="mensaje" class="text-danger"></span>
                        <input type="text" required class="hidden" />
                        <input asp-for="Input.CursoId" id="curCursoId" class="hidden">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="curso.Restablecer()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" onclick="curso.RegistrarCurso()" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
