﻿<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Eliminar Curso
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" style="text-align:center">
                <center>
                    <div class="row">

                        <h5 style="text-align:center">¿Desea eliminar el curso?</h5>
                    </div>
                </center>
                <div class="row" style="text-align:center">
                    <center>
                        <h5 id="titleCurso"></h5>
                    </center>
                </div>
                <div class="form-group">
                    <center>
                        <div class="form-group">
                            <div class="col-md-5">
                                <a class="thumbnail">
                                    <output id="cursoImage">
                                        <img src="~/images/Logo2.png" class="img-fluid img-thumbnail rounded-circle" />
                                    </output>
                                </a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="modal-footer">
                <span id="mensajeEliminar" class="text-danger"></span>
                <button type="button" onclick="curso.Restablecer()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="curso.EliminarCurso()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>