﻿@model DataPaginador<TCursos>
@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cursos</h1>

<form asp-area="Cursos" asp-controller="Cursos" asp-action="Cursos" method="get">
    <div class="row">
        <div class="col-xs-8 col-md-3">
            <input id="filtrar" name="Search" placeholder="Buscar Cursos" class="form-control" />
        </div>
        <div class="col-xl-6 col-md-3">
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Buscar</button>
            </div>
        </div>
    </div>
</form>
<br />
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <a data-toggle='modal' data-target='#ModalRegistrar' class='btn btn-info text-white'>Crear curso</a>
        </div>
        <form asp-area="Cursos" asp-controller="Cursos" asp-action="Cursos" method="get">
            <div class="row">
                <div class="col-md-5">
                    <input type="number" name="Registros" class="form-control" value="5" min="1" max="50" step="1" />
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-success" value="N Registros" />
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Input.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Informacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Estado)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var cat = JsonConvert.SerializeObject(Model.Categorias);
        }
        @foreach (var item in Model.List)
        {
            var image = "data:image/jpg;base64," + Convert.ToBase64String(item.Imagen, 0, item.Imagen.Length);
            <tr>
                <td class="tdImg">
                    <img class="img-fluid img-thumbnail rounded-circle" src="@image">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Informacion)
                </td>
                <td>
                    <form asp-area="Cursos" asp-controller="Cursos" asp-action="UpdateEstado" method="post">
                        <input type="hidden" name="id" value="@item.CursoId">
                        @if (item.Estado)
                        {
                            <input type="submit" class="btn-sm btn-success text-light" value="Activa" />
                        }
                        else
                        {
                            <input type="submit" class="btn-sm btn-danger text-light" value="No activa" />
                        }
                    </form>
                </td>
                <td>
                    @{
                        var data = JsonConvert.SerializeObject(item);
                        <a data-toggle='modal' onclick="curso.EditCurso(@data,@cat)" data-target='#ModalRegistrar' class='btn btn-info text-white'>Editar</a>
                        <a data-toggle='modal' onclick="curso.GetCurso(@data)" data-target='#ModalEliminar' class='btn btn-danger text-white'>Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    Resultado @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>
<partial name="_ModalRegistrar">
<partial name="_ModalEliminar">
        @section Scripts{
            @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
        }
